.search-box {
    position: relative;
    width: 300px;
    margin-right: 20px;
}

.search {
    position: absolute;
    left: 1px;
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 20px;
}

.search::placeholder {
    font-weight: lighter;
    font-size: 20px;
    padding: 5px;
}

/* Styles for the search icon */
.search-icon {
    z-index: 1;
    position: relative;
    top: 47%;
    right: 125px;
    transform: translateY(-50%);
    font-size: 24px;
}

.menu-search-box {
    width: 89%;
    padding: 12px;
    border-radius: 10px;
    border: white;
}

.search-icon2 {
    z-index: 1;
    position: relative;
    bottom: -13px;
    right: 250px;
    transform: translateY(-50%);
    font-size: 24px;
}

/*search result */
.search-result {
    overflow: auto;
    border-radius: 8px;
    padding: 10px;
    z-index: 100;
    top: 80px;
    right: 1100px;
    position: absolute;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, transform 0.3s;
    visibility: hidden;
    transform: translate3d(150px, 0px, 0px);
}

.search-result.active {
    visibility: visible;
    transform: translateY(0);
}

.search-result-item{
    align-items: center;
    padding: 10px 10px ;
    cursor: pointer;
    transition: 0.3s;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    width: 90%;
    text-align: right;
    margin:  10px 0px 10px 0px;
}
.search-result-item:hover{
    background-color: #198653;
    color: #fff;
    transition: 0.3s;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

/* width */
/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background color for the scrollbar track */
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #111; /* Color of the scrollbar handle */
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}


@media screen and (max-width: 1800px) {
    .search-result {
        width: 500px;
    }
}

@media screen and  (max-width: 1600px) {
    .search-result {
        right: 900px;
    }
}

@media screen and  (max-width: 1400px) {
    .search-result {
        right: 800px;
    }
}

@media screen and  (max-width: 1300px) {
    .search-result {
        right: 700px;
    }
}

@media screen and  (max-width: 1200px) {
    .search-result {
        right: 600px;
    }
}

@media screen and  (max-width: 1100px) {
    .search-result {
        right: 480px;
    }
}



