.search-box {
    position: relative;
    /* Set the parent container to relative positioning */
    width: 300px;
    margin-right: 20px;
}

.search {
    position: absolute;
    left: 1px;
    width: 100%;
    padding: 10px 40px 10px 10px;
    /* Add padding to the right to make space for the icon */
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 20px;
}

.search::placeholder {
    font-weight: lighter;
    font-size: 20px;
    padding: 5px;
}

/* Styles for the search icon */
.search-icon {
    z-index: 1;
    position: relative;
    /* Set the search icon to absolute positioning */
    top: 47%;
    /* Vertically center the icon within the input field */
    right: 125px;
    /* Adjust the right position to control the spacing */
    transform: translateY(-50%);
    /* Vertically center the icon */
    font-size: 24px;
    /* Adjust the icon size as needed */
}

.menu-search-box {
    width: 89%;
    padding: 12px;
    border-radius: 10px;
    border: white;
}
.search-icon2{
    z-index: 1;
    position: relative;
    /* Set the search icon to absolute positioning */
    bottom: -13px;
    /* Vertically center the icon within the input field */
    right: 250px;
    /* Adjust the right position to control the spacing */
    transform: translateY(-50%);
    /* Vertically center the icon */
    font-size: 24px;
    /* Adjust the icon size as needed */
}