.main_navbar {
    width: 100%;
    position: absolute;
    z-index: 99;
    /* From https://css.glass */
    background: rgba(102, 102, 102, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);    color: white;
    box-shadow: 0 0 5px rgba(104, 85, 224, 0.2);
    transition: 0.8s;
    height: 40px;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;

}
ul.w-100 li{
    cursor: pointer;
}
ul.w-100 li:hover{
    transition: 0.3s;
    text-decoration:  underline;
    color: #d3d3d3;
}
.auth{
    cursor: pointer;
}
.auth:hover{
    transition: 0.8s;
    text-decoration:  underline;
}
@media screen and (max-width: 990px) {
    .main_navbar {
        display: none;
    }
}
