@media screen and (max-width : 992px) {
    .header{
        width: 90%;
    }
}
body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/flat-lay-herbs-spices-medicinal-purpose_23-2148776520.jpg?w=1380&t=st=1694322963~exp=1694323563~hmac=09f7ebeb1ac61a2279d0f86d7720bb32185409fba8cfdc80a3a293838c562b40");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header .header_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
header .header_desc{
    color: white;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;

}


hr {
    margin: 10px 10px 10px 10px;
}

.social_header:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}


.left {
    display: flex;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.btn:hover {
    background-color: white;
    color: rgb(17, 184, 22);
    transition: 0.4s;

}


.logo {
    max-width: 120px;
    height: 80px;
    border-radius: 50%;
}

.container_m {
    border-bottom: 1px solid black;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 80px;
}



.menu_icon {
    display: none;
}


@media screen and (max-width: 990px) {
    header div.main_header {
        display: none;
    }

    .menu_icon {
        display: inline;
        float: right;
    }

}


.menu_item {
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: black;
    display: block;
    border: none;
    cursor: pointer;
}

.menu_item:hover {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(17, 184, 22);
    border: white;
    border-radius: 10px;
}

.menu_item.active {
    background-color: #b3d8ff;
}

.menu_button {
    color: rgb(17, 184, 22);
    display: block;
    float: right;
    margin: 15px 10px 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border: 2px solid rgb(17, 184, 22);
    border-radius: 20px;

}

.menu_button:hover {
    background-color: rgb(17, 184, 22);
    color: white;
    transition: all 0.1s ease-in-out;
    border: 2px solid white;
    border-radius: 20px;
}

.responsive_nav {
    width: 300px;
    height: 100vh;
    z-index: 1;
    border: 2px solid black;
    position: absolute;
    top: 0;
    /* From https://css.glass */
    background: rgba(164, 250, 167, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    border: 1px solid rgba(164, 250, 167, 0.52);
    margin-right: -380px;
    transition: all 0.3s ease-in-out;
}

