/*
    our-story styles
*/

.our_story {
    width: 100%;
    height: 500px;
    padding: 100px 0px;
    text-align: center;

}

.story_desc {
    width: 50%;
    float: right;
}

.story_desc h2 {
    margin-top: 60px;
}

.story_desc p {
    line-height: 30px;
    width: 80%;
    text-align: center;
    margin: auto;
}

.story_img {
    width: 50%;
    float: right;
}

.story_img img {
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 300px;
}

/*
sweet styles
*/

.sweet {
    width: 100%;
    height: 500px;
    padding: 100px 0px;
    background-image: url("https://img.freepik.com/free-photo/flat-lay-natural-medicinal-spices-herbs_23-2148776498.jpg?w=1380&t=st=1694326440~exp=1694327040~hmac=a1a99cb2bfac06de8440c8c129bcb66acecec3582ae5ac4f2a5d6115b7d1e3cf");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.sweet_desc {
    margin-top: 100px;
    text-align: center;
    color: #fff;
}
.sweet_desc p {
    font-size: 25px;
    width: 800px;
    margin: auto;
}
.sweet_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/*menu styles*/
.menu{
    width: 100%;
    height: 630px;
    padding: 100px 0px;
}
.menu_desc{
    width: 50%;
    float: right;
    text-align: center;

}
.menu_desc h1{
    margin-top: 120px;
}
.menu_desc p{
    line-height: 30px;
    width: 80%;
    margin: auto;
}
.menu_img{
    width: 50%;
    float: right;

}
.menu_img img {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 250px;
}
.menu_img ul {
    width: 100%;
}
.menu_img ul li {
    width: 50%;
    margin: 5px auto;
    float: right;
    text-align: left;
}