/*
    our-story styles
*/

.our_story {
    width: 100%;
    height: 500px;
    padding: 100px 0px;
    text-align: center;

}

.story_desc {
    width: 50%;
    float: right;
}

.story_desc h2 {
    margin-top: 60px;
}

.story_desc p {
    line-height: 30px;
    width: 80%;
    text-align: center;
    margin: auto;
}

.story_img {
    width: 50%;
    float: right;
}

.story_img img {
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 300px;
}

/*
sweet styles
*/

.sweet {
    width: 100%;
    height: 500px;
    padding: 100px 0px;
    background-image: url("../../public/images/agnieszka-stankiewicz-obMdrL5pFWI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.sweet_desc {
    margin-top: 100px;
    text-align: center;
    color: #fff;
}

.sweet_desc p {
    font-size: 25px;
    width: 80%;
    margin: auto;
}

.sweet_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/*menu styles*/
.menu {
    width: 100%;
    height: 800px;
    padding: 100px 0px;
}

.menu_desc {
    width: 50%;
    float: right;
    text-align: center;

}

.menu_desc h1 {
    margin-top: 120px;
}

.menu_desc p {
    line-height: 30px;
    width: 80%;
    margin: auto;
}

.menu_img {
    width: 50%;
    float: right;

}

.menu_img img {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 250px;
}

.menu_img ul {
    width: 100%;
}

.menu_img ul li {
    width: 50%;
    margin: 5px auto;
    float: right;
    text-align: left;
}

/* hot styles */
.hot {
    background-image: url("../../public/images/natural-various-herbs-wooden-box-high-view.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
    width: 100%;
    height: 500px;
    position: relative;
    margin: 100px 0px;
}

.hot_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hot_desc {
    text-align: center;
    color: #fff;
    margin-top: 100px;
    width: 100%;
}

.hot_desc p {
    font-size: 25px;
    width: 80%;
    margin: auto;
}

.hot_desc h1 {
    margin-top: 140px;
}

/*
    delight styles
*/
.delight {
    width: 100%;
    height: 700px;
    padding: 100px 0px;
}

.delight_desc {
    width: 50%;
    float: right;
    text-align: center;

}

.delight_desc h1 {
    margin-top: 120px;
}

.delight_desc p {
    line-height: 30px;
    width: 80%;
    margin: auto;
}

.delight_img {
    width: 50%;
    float: right;

}

.delight_img img {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 450px;
}

.delight_img ul {
    width: 100%;
}

.delight_img ul li {
    width: 40%;
    margin: 0px 10px;
    float: right;
    text-align: left;
}

/*
responsive styles
*/

@media screen and (max-width: 1400px) {
    .container {
        width: 90%;
    }

    .menu_img ul li img {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .sweet_desc p {
        font-size: 20px;
    }

    /*story_section*/
    .our_story {
        height: 550px;
        padding: 0px;
    }

    .story_desc {
        width: 100%;
    }

    .story_img {
        width: 100%;
        margin-top: 20px;
    }

    .story_img img {
        width: 400px;
    }

    .story_desc p {
        line-height: 20px;
    }

    /*menu_section*/
    .menu_img {
        margin-top: 20px;
        width: 100%;
    }

    .menu_desc {
        width: 100%;
    }

    .menu_img ul li {
        width: 25%;
    }

    .menu {
        padding: 0;
        height: 600px;
    }

    .menu_desc h1 {
        margin-top: 60px;
    }

    /*    delight section*/
    .delight{
        height:  900px;
        padding: 0px;
    }
    .delight_desc h1 {
        margin-top: 30px;
    }
    .delight_img {
        width: 100%;
    }
    .delight_desc {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .sweet_desc p {
        font-size: 15px;
        line-height: 30px;
    }

    /*story section*/
    .story_img img {
        width: 300px;
    }

    .story_desc p {
        font-size: 15px;
        line-height: 20px;
    }

    /*menu section*/
    .menu_img {
        margin-top: 20px;
        width: 100%;
    }

    .menu_desc h1 {
        margin-top: 60px;
    }

    .menu_desc {
        width: 100%;
    }

    .menu_img ul li {
        width: 50%;
    }

    .menu {
        padding: 0;
        height: 900px;
    }

    /*    hot section*/
    .hot {
        height: 700px;
    }
}

@media screen and (max-width: 576px) {
    .our_story {
        height: 650px;
    }

    .story_desc p {
        font-size: 15px;
        line-height: 20px;
    }

    /*menu section*/
    .menu {
        height: 1400px;
    }

    .menu_img ul li {
        width: 100%;
        text-align: center;
    }

    /*    hot section*/
    .hot_desc h1 {
        margin-top: 60px;
    }

    .hot {
        height: 700px;
    }

    /*    delight section*/
    .delight{
        height: 1300px;
    }
    .delight_desc h1{
        margin-top: -50px;
    }
    .delight_img ul li {
        width: 100%;
        margin-top: 20px;
        padding: 0px;
        float: none;
        text-align: center;
    }
    .delight_img ul li img {
        width: 300px;
        margin-top: 20px;
        height: 300px;
    }

}