/*
    basic description
*/
.basic-description{
    width: 90%;
    position: absolute;
    top: 30%;
    right: 5%;
    left: 5%;
    display: flex;
    justify-content: space-around;
}
.basic-description-right{
    width: 50%;
    line-height: 50px;
}
.doctor-img{
    width: 500px;
    height: 500px;
    z-index: -1;
}
.header-des{
    color: #007077;
}
.start-text{
    font-size: 26px;
    white-space: pre-line;
    margin-top: 20px;
}
.warning-text{
    font-size: 25px;
    white-space: pre-line;
}
.header-line {
    width: 100px;
}
.basic-start-button {
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  0.3s;
    border-radius: 8px;
    background-color: ghostwhite;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    color: #198653;
}
.basic-start-button:hover{
    background-color: #198653;
    color: white;

}
@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust the value for the desired vertical motion */
    }
}

.floating-animation {
    animation: floating 2s ease-in-out infinite; /* Adjust the animation duration and timing function */
}
/*
    get start for questions styles
*/
.temperament-quiz-start{
    position: absolute;
    top: 30%;
    left: 25%;
}
.header-start{
    margin-bottom: 200px;
}
.start-button{
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
    transition:  0.3s;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 60px;
}
.start-button:hover{
    background-color: #198653;
    color: ghostwhite;
    width: 200px;
}
.start-icon{
    display: none;
    transition:  0.4s;
    margin-right: 15px;
    color: ghostwhite;
}
.start-button:hover .start-icon{
    display: block;
}

/*
    questions content styles
*/

.questions-content{
    position: absolute;
    width: 50%;
    top: 30%;
    left: 25%;
    text-align: center;
}
.answer-button{
    width:200px;
    margin: 10px auto;
    height: auto;
    line-height:  40px;
    border-radius: 10px;
    background-color: ghostwhite;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: block;
    transition-duration:  0.3s;
}
.answer-button:hover{
    background-color: #198653;
    color: ghostwhite;
}

/*
 result test styles
*/
.result-container {
    position: absolute;
    top: 50%;
    left: 41%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.result-title {
    font-size: 24px;
    color: #333;
}

.result-content {
    margin-top: 20px;
}

.result-text {
    font-size: 18px;
    color: #444;
}

.temperament-name {
    font-weight: bold;
    color: #007BFF; /* Change color to your preference */
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal-content {
    width: 30%;
    height: 70%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

.modal-content h2 {
    font-size: 20px;
    margin: 0;
}

.close {
    margin-top: 10px;
    width: 100px;
}



@media screen and (max-width: 1430px) {
    .basic-description{
        height: 900px;
        position: relative;
    }
    .temperament-quiz-start h1{
       font-size: 35px;
    }
    .questions-content{
        position: relative;
        right: 25%;
    }
}
@media screen and (max-width: 1300px){
    .temperament-quiz-start{
        left: 20%;
    }
    .temperament-quiz-start h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 1100px){

    .temperament-quiz-start{
        left: 15%;
    }
    .temperament-quiz-start h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 992px) {

    .basic-description{
        height: 1050px;
        padding: 30px;
        position: relative;
    }
    .doctor-img{
        display: none;
    }
    .temperament-quiz-start{
        left: 35%;
    }
    .start-button{
        margin-right: 30px !important;
    }
    .questions-content{
        left: 25%;
    }
    .result-container{
        left: 35%;
    }
    .modal-content{
        width: 70% !important;
    }
}

@media screen and (max-width: 768px) {
    .questions-content{
        left: 25%;
    }
    .modal-content {
        width: 70%;
        height: 70%;
    }
    .modal-content h2 {
        font-size: 18px;
    }
    .result-container{
        left: 30%;
    }
    .basic-description{
        width: 90%;
        height: 900px;
    }
    .start-text{
        line-height: 40px;
        font-size: 20px ;
    }
    .warning-text{
        line-height: 40px;
        font-size: 20px ;
    }
    .temperament-quiz-start{
        left: 25%;
    }
    .start-button{
        margin-right: 15px !important;
    }

}
@media screen and (max-width: 650px){
    .basic-description{
        position: relative;
        height: 900px;
    }
    .temperament-quiz-start h1{
        font-size: 25px;
    }
    .header-des{
        font-size: 15px;
    }
    .start-text{
        line-height: 40px;
        font-size: 15px ;
    }
    .warning-text{
        line-height: 40px;
        font-size: 15px ;
    }

}
@media screen and (max-width: 440px){
    .result-container{
        left: 8%;
    }
    .basic-description{
        position: relative;
        height: 900px;
    }
    .temperament-quiz-start{
        left: 10%;
    }
    .header-des{
        font-size: 15px;
    }
    .start-text{
        line-height: 30px;
        font-size: 15px ;
    }
    .warning-text{
        line-height: 30px;
        font-size: 15px ;
    }
    .temperament-quiz-start h1{
        font-size: 30px;
    }

}

