nav {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(17, 184, 22);
    color: white;
    padding: 10px 0px 0px 0px;
    box-shadow: 0 0 5px rgba(104, 85, 224, 0.2);
    width: 90%;
    margin: 0 5%;
    transition: 0.8s;
}
nav:hover {
    width: 100%; /* Increase width to 100% on hover */
    margin: 0px;
    transition:  0.8s;
}
.nav_products_menu_icon {
    display: flex;
    cursor: pointer;
    width: 20%;
}

.nav_products_menu {
    background-color: #fffdfd;
    border: 1px black solid;
    border-radius: 5px;
    display: none;
    position: absolute;
    color: black;
    padding: 10px;
    z-index: 999;
    width: 250px;
    height: 400px;
    margin: 5px 0px 0px;
}

.nav_products_menu_icon:hover + .nav_products_menu {
    display: block;
}
